@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

body {
  background-color: #1D2225;
  color: #CCD2DD;
  font-family: "Fira Code", serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}